name: Docker Publish

on:
  workflow_run:
    workflows: [Build]
    types: [completed]

permissions:
  contents: read

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0
      - name: Build
        run: ./gradlew bootBuildImage --publishImage -PDOCKERHUB_USERNAME=${{ vars.DOCKERHUB_USERNAME }} -PDOCKERHUB_ACCESS_TOKEN=${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
